include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include project_control_logeny *.css
recursive-include project_control_logeny *.csv
recursive-include project_control_logeny *.html
recursive-include project_control_logeny *.ico
recursive-include project_control_logeny *.js
recursive-include project_control_logeny *.json
recursive-include project_control_logeny *.md
recursive-include project_control_logeny *.png
recursive-include project_control_logeny *.py
recursive-include project_control_logeny *.svg
recursive-include project_control_logeny *.txt
recursive-exclude project_control_logeny *.pyc